mixin application-name(text, values)
  .form-group
    label(for="name")
      = text
    input#name.form-control.input--block(name="name", type="text", value=form_data.get('name') || values.name || locals.query_company_name, placeholder="Examples: Google, Acme Corp")&attributes(attributes)

mixin posting-url(values)
  .form-group
    - var postingUrl = form_data.get('posting_url') || values.posting_url;
    label(for="posting_url")
      = "Posting URL: ("
      a(href=postingUrl, data-follow-url="#posting_url", target="_blank") follow URL
      = ")"
    input#posting_url.form-control.input--block(name="posting_url", type="text", value=postingUrl, placeholder="https://job-board.com/url/of/listing")

mixin application-date(values)
  .form-group
    label(for="application_date")
      = "Applied on: "
      i.fa.fa-calendar-o(style="font-size: 1.5em")
    //- If there is no application date moment, then default to today
    - var applicationDateMoment = form_data.getMomentDateOnly('application_date') || values.application_date_moment || moment();
    //- Add in timezone (we don't set one in the database)
    //- DEV: We use hardcoded UTC so `form_data` restores work without issue
    - applicationDateMoment = applicationDateMoment.tz('UTC');
    +datepicker(applicationDateMoment)#application_date.form-control(name="application_date")

mixin saved-for-later-reminder(values)
  .form-group&attributes(attributes)
    h4.flush--bottom
      = "Application reminder: "
      span.text--normal
        i.fa.fa-reply(style="font-size: 1.5em")
    //- TODO: Link reminder text to show based on user config https://trello.com/c/kqvMBI6P/222-move-reminder-info-text-to-dismiss-settings-that-can-be-toggled-via-settings
    if true
      .section--info.push-half--ends We will send you a reminder email to apply to this posting
    //- If there is no existing reminder, then default to 1 week from today (raised to nearest hour)
    - var savedForLaterDefaultMoment = reminderUtils.getSavedForLaterDefaultMoment(timezone);
    +reminderpicker("saved_for_later_reminder", values, savedForLaterDefaultMoment)

mixin waiting-for-response-reminder(values, options)
  .form-group
    h4.flush--bottom
      = "Follow up reminder: "
      span.text--normal
        i.fa.fa-reply(style="font-size: 1.5em")
    //- TODO: Link reminder text to show based on user config https://trello.com/c/kqvMBI6P/222-move-reminder-info-text-to-dismiss-settings-that-can-be-toggled-via-settings
    if true
      .section--info.push-half--ends We will send you a reminder email to follow up to this posting
    //- If there is no existing reminder, then default to 1 week from today (raised to nearest hour)
    - var waitingForResponseDefaultMoment = reminderUtils.getWaitingForResponseDefaultMoment(timezone);
    +reminderpicker("waiting_for_response_reminder", values, waitingForResponseDefaultMoment)

mixin received-offer-reminder(values, options)
  .form-group
    h4.flush--bottom
      = "Response reminder: "
      span.text--normal
        i.fa.fa-reply(style="font-size: 1.5em")
    //- TODO: Link reminder text to show based on user config https://trello.com/c/kqvMBI6P/222-move-reminder-info-text-to-dismiss-settings-that-can-be-toggled-via-settings
    if true
      .section--info.push-half--ends We will send you a reminder email to respond to your offer
    //- If there is no existing reminder, then default to 1 week from today (raised to nearest hour)
    - var receivedOfferDefaultMoment = reminderUtils.getReceivedOfferDefaultMoment(timezone);
    +reminderpicker("received_offer_reminder", values, receivedOfferDefaultMoment)

mixin company-notes-and-research(values)
  .form-group
    label(for="notes") Notes:
    //- DEV: We use `data-wysiwyg-input` as `wysiwyg.js` wants to use `data-wysiwyg` for itself
    textarea.form-control.input--block#notes(name="notes", data-wysiwyg-input, rows=3, placeholder="Notes about company (e.g. 40 employees, 10 engineers)")= form_data.get('notes') || values.notes
  .research-company(data-research-company-partial)
    +csrf-input()
    h4.push-half--bottom
      span.small-hidden Research company:
      span.medium-and-up-hidden
        = "Research company "
        span.text--normal
          = "("
          button.text--link(type="button", data-toggle="collapse", data-target="#research-company-content", data-collapse-text="collapse section") expand section
          = ")"
    #research-company-content.collapse.medium-and-up-ignore-collapse
      .form-group
        label(for="company_name") Company name:
        .flexbox
          - var companyName = form_data.get('company_name') || values.company_name || locals.query_company_name;
          .flexbox__item.company-name__container
            input.form-control.input--block#company_name(name="company_name", type="text", value=companyName, placeholder="Examples: Google, Acme Corp")
          .flexbox__item
            //- DEV: We could include company name query string but it's unnecessary as live update requires JS
            a#search-btn.btn.btn--small.btn--wide.btn--default(href="/research-company", target="_blank") Search
      #partial-form-errors.section--error.push--bottom.hidden
      +partial-research-company-content(companyName)

mixin partial-research-company-content(companyName)
  h5.text--normal.flush--bottom(style="font-weight: bold") Glassdoor results:
  p#glassdoor-results
    if companyName && !locals.resultsLoaded
      | Results will be loaded shortly...
    else
      +glassdoor-result(locals.glassdoorResult, {expanded: false})
  h5.text--normal.flush--bottom(style="font-weight: bold") AngelList results:
  p#angellist-results
    if companyName && !locals.resultsLoaded
      | Results will be loaded shortly...
    else
      +angellist-result(locals.angelListResult, {expanded: false})

mixin glassdoor-result(glassdoorResult, options)
    if glassdoorResult && glassdoorResult.id
      | Name: #{glassdoorResult.name}
      br
      = "Website: "
      //- www.google.com -> http://www.google.com/
      a(href="http://#{glassdoorResult.website}/")= glassdoorResult.website
      br
      = "Industry: "
      if !glassdoorResult.industry
        i Unknown
      else
        = glassdoorResult.industry
      br
      | Overall rating: #{glassdoorResult.overallRating}/5.0 (#{glassdoorResult.numberOfRatings} ratings)
      br
      = "CEO review: "
      if glassdoorResult.ceo
        | #{glassdoorResult.ceo.pctApprove}% approve, #{glassdoorResult.ceo.pctDisapprove}% disapprove (#{glassdoorResult.ceo.numberOfRatings} ratings)
      else
        em No reviews
      br
      if options.extended
        | Culture and values rating: #{glassdoorResult.cultureAndValuesRating}/5.0
        br
        | Senior leadership rating: #{glassdoorResult.seniorLeadershipRating}/5.0
        br
        | Compensation and benefits rating: #{glassdoorResult.compensationAndBenefitsRating}/5.0
        br
        | Career opportunities rating: #{glassdoorResult.careerOpportunitiesRating}/5.0
        br
        | Work/Life balance rating: #{glassdoorResult.workLifeBalanceRating}/5.0
        br
      a(href=glassdoorResult.glassdoorUrl) View Glassdoor profile
      br
      a(href=glassdoorResult.attributionURL)
        = "Powered by "
        img(alt="Glassdoor", src="/dist/images/glassdoor-green.svg", style="height: 1.3em; position: relative; top: 4px")
      br
      a(target="_blank", href=glassdoorResult.badMatchUrl) Bad match? Click here to let us know
    else if glassdoorResult
      | No company found.
      br
      | Please try another search.
    else
      em No company name entered.
      br
      em Please enter one in the field above.

mixin angellist-result(angelListResult, options)
  | AngelList support is under construction.
