//- DEV: Designed after:
//-   Large: https://app.moqups.com/todd@findwork.co/noWM1oiRBn/edit/page/a83fa0086
//-   Medium: https://app.moqups.com/todd@findwork.co/noWM1oiRBn/edit/page/a03ef4dcc
//-   Small: https://app.moqups.com/todd@findwork.co/noWM1oiRBn/edit/page/a541249ff
extends layout
include application-mixins

block title
  title Job application - #{selectedApplication.name} - Find Work

block content
  h1.content__heading Job application
  h2.content__subheading= form_data.get('name') || selectedApplication.name
  //- DEV: We wanted to use a `p` but we can't nest forms in them
  //-   as browsers break up those block in block formations
  .action-bar.push--bottom
    .action-bar__info
      = "Status: "
      b= selectedApplication.human_status
    .action-bar__actions.btn-group
      .large-hidden Actions:

      mixin action--form(url)
        form(method="POST", action=url, style="display: inline")
          +csrf-input()
          button.action.btn.btn--thin.btn--default(type="submit")&attributes(attributes)
            block

      mixin action--add-interview()
        a.action.btn.btn--thin.btn--default(href=selectedApplication.add_interview_url)&attributes(attributes)
          span.small-hidden(aria-hidden="true")= "+ "
          | Add interview
      mixin action--received-offer()
        +action--form(selectedApplication.received_offer_url)&attributes(attributes)
          span.small-hidden I've received an offer
          span.medium-and-up-hidden Received offer
      mixin action--archive()
        //- DESIGN: On click, redirect to unselected nav and add notification for "Application has been archived"
        //-   https://app.moqups.com/todd@findwork.co/noWM1oiRBn/edit/page/a83fa0086
        +action--form(selectedApplication.archive_url)&attributes(attributes)
          span.small-hidden Archive application
          span.medium-and-up-hidden Archive

      if selectedApplication.status === APPLICATION_STATUSES.SAVED_FOR_LATER
        +action--form(selectedApplication.applied_url).btn--first
          span.small-hidden Applied to posting
          span.medium-and-up-hidden Applied
        +action--add-interview().btn--middle
        +action--received-offer().btn--last
      else if selectedApplication.status === APPLICATION_STATUSES.WAITING_FOR_RESPONSE
        +action--add-interview().btn--first
        +action--received-offer().btn--middle
        +action--archive().btn--last
      else if selectedApplication.status === APPLICATION_STATUSES.UPCOMING_INTERVIEW
        +action--received-offer().btn--first
        +action--archive().btn--last
      else if selectedApplication.status === APPLICATION_STATUSES.RECEIVED_OFFER
        +action--archive().btn--first
        +action--form(selectedApplication.remove_offer_url).btn--last
          | Remove offer
      else if selectedApplication.status === APPLICATION_STATUSES.ARCHIVED
        +action--form(selectedApplication.restore_url)
          | Restore application
      else
        - throw new Error('Unexpected application status');
  .cf
    if locals.validation_errors
      //- DEV: Id is for testing only
      #validation-errors.section--error.push--bottom
        | The following errors have occurred:
        ul.flush--bottom
          for error in validation_errors
            li= error.message
    form(method="POST", action=selectedApplication.url, data-unsaved-changes)
      +csrf-input()
      .grid
        .grid__item.one-whole.medium-one-half.large-four-ninths
          +application-name("Name:", selectedApplication)(data-content-sync=".content__subheading")
          +posting-url(selectedApplication)

          //- DEV: Archived applications can only be created from waiting for response or later (i.e. they'll always have an application date)
          if selectedApplication.status !== APPLICATION_STATUSES.SAVED_FOR_LATER
            +application-date(selectedApplication)
        .grid__item.one-whole.medium-one-half.large-five-ninths.company-notes-and-research__container
          +company-notes-and-research(selectedApplication)
        .grid__item.one-whole.medium-one-half.large-four-ninths
          if selectedApplication.status === APPLICATION_STATUSES.SAVED_FOR_LATER
            +saved-for-later-reminder(selectedApplication)
          else if selectedApplication.status == APPLICATION_STATUSES.WAITING_FOR_RESPONSE
            +waiting-for-response-reminder(selectedApplication)
          else if selectedApplication.status === APPLICATION_STATUSES.UPCOMING_INTERVIEW
            //- Nothing goes here (no visible reminders)
          else if selectedApplication.status === APPLICATION_STATUSES.RECEIVED_OFFER
            +received-offer-reminder(selectedApplication)
          else if selectedApplication.status == APPLICATION_STATUSES.ARCHIVED
            //- Nothing goes here (no visible reminders)
          else
            - throw new Error('Unexpected application status');

          mixin interviews-list(interviews)
            each interview, i in interviews
              //- Fri Jan 15 at 9:00AM PST
              //- TODO: Use dynamic date format https://trello.com/c/nKTzPQFg/165-update-date-formats-to-dynamically-include-year-not
              a(href=interview.url)= interview.date_time_moment.format('ddd MMM D [at] h:mmA zz')
              if i != interviews.length - 1
                br
          if selectedApplication.upcoming_interviews.length > 0
            div.upcoming-interviews
              h4.push-half--bottom
                = "Upcoming interviews: "
                a.text--normal.btn.btn--small.btn--default(href=selectedApplication.add_interview_url)
                  span(aria-hidden="true")= "+ "
                  | Add interview
              p(style="line-height: 1.5em")
                +interviews-list(selectedApplication.upcoming_interviews)
          if selectedApplication.status !== APPLICATION_STATUSES.SAVED_FOR_LATER
            div.past-interviews
              h4.push-half--bottom
                = "Past interviews: "
                a.text--normal.btn.btn--small.btn--default(href=selectedApplication.add_interview_url)
                  span(aria-hidden="true")= "+ "
                  | Add interview
              p.landmark(style="line-height: 1.5em")
                if selectedApplication.past_interviews.length > 0
                  +interviews-list(selectedApplication.past_interviews)
                else
                  i There are no past interviews for this job application.
          if selectedApplication.status == APPLICATION_STATUSES.ARCHIVED
            .landmark.archive-date(style="margin-top: -18px")
              h4.push-half--bottom
                //- DEV: Label is consistent with "Archived on" in nav
                = "Archived on: "
                i.fa.fa-calendar-o(style="font-size: 1.5em")
              - var archivedAtMoment = selectedApplication.archived_at_moment.tz(timezone);
              span= archivedAtMoment.format('ddd MMM D [at] h:mmA zz')
          div.landmark
            button.btn.btn--primary(type="submit") Save changes
    form.landmark.float--left(method="POST", action=selectedApplication.delete_url, data-confirm-submit="Are you sure you want to delete #{selectedApplication.name}?")
      +csrf-input()
      //- DEV: We can resolve nested form issue by moving to a modal
      //-   Currently, we resolved it via floats
      button.btn.btn--danger(type="submit") Delete
