mixin application-name(text, values)
  .form-group
    label(for="name")
      = text
    input#name.form-control.input--block(name="name", type="text", value=form_data.get('name') || values.name || locals.query_company_name, placeholder="Examples: Google, Acme Corp")&attributes(attributes)

mixin posting-url(values)
  //- TODO: Link up `follow URL` to automatically update on throttled keydown
  .form-group
    - var postingUrl = form_data.get('posting_url') || values.posting_url;
    label(for="posting_url")
      = "Posting URL: ("
      a(href=postingUrl) follow URL
      = ")"
    input#posting_url.form-control.input--block(name="posting_url", type="text", value=postingUrl, placeholder="https://job-board.com/url/of/listing")

mixin application-date(values)
  //- TODO: Reuse with edit field
  .form-group
    label(for="application_date")
      = "Applied on: "
      i.fa.fa-calendar-o(style="font-size: 1.5em")
    //- If there is no application date moment, then default to today
    - var applicationDateMoment = form_data.getMomentDateOnly('application_date') || values.application_date_moment || moment();
    //- Add in timezone (we don't set one in the database)
    //- DEV: We use hardcoded UTC so `form_data` restores work without issue
    - applicationDateMoment = applicationDateMoment.tz('UTC');
    +datepicker(applicationDateMoment)#application_date.form-control(name="application_date")

mixin saved-for-later-reminder(values, options)
  .form-group&attributes(attributes)
    h4.flush--bottom(style="font-weight: normal")
      = "Application reminder: "
      span.text--normal
        i.fa.fa-reply(style="font-size: 1.5em")
    if options.showInfo
      .section--info.push-half--ends We will send you a reminder email to apply to this posting
    //- If there is no existing reminder, then default to 1 week from today (raised to nearest hour)
    - var savedForLaterDefaultMoment = moment().tz(timezone).startOf('hour').add({weeks: 1, hours: 1});
    +reminderpicker("saved_for_later_reminder", values, savedForLaterDefaultMoment)

mixin waiting-for-response-reminder(values, options)
  .form-group
    h4.flush--bottom(style="font-weight: normal")
      = "Follow up reminder: "
      span.text--normal
        i.fa.fa-reply(style="font-size: 1.5em")
    if options.showInfo
      .section--info.push-half--ends We will send you a reminder email to follow up to this posting
    //- If there is no existing reminder, then default to 1 week from today (raised to nearest hour)
    - var waitingForResponseDefaultMoment = moment().tz(timezone).startOf('hour').add({weeks: 1, hours: 1});
    +reminderpicker("waiting_for_response_reminder", values, waitingForResponseDefaultMoment)

mixin received-offer-reminder(values, options)
  .form-group
    h4.flush--bottom(style="font-weight: normal")
      = "Response reminder: "
      span.text--normal
        i.fa.fa-reply(style="font-size: 1.5em")
    if options.showInfo
      .section--info.push-half--ends We will send you a reminder email to respond to your offer
    //- If there is no existing reminder, then default to 1 week from today (raised to nearest hour)
    - var receivedOfferDefaultMoment = moment().tz(timezone).startOf('hour').add({weeks: 1, hours: 1});
    +reminderpicker("received_offer_reminder", values, receivedOfferDefaultMoment)

mixin company-notes-and-research(values)
  .form-group
    label(for="notes") Notes:
    //- DEV: We use `data-wysiwyg-input` as `wysiwyg.js` wants to use `data-wysiwyg` for itself
    textarea.form-control.input--block#notes(name="notes", data-wysiwyg-input, rows=3, placeholder="Notes about company (e.g. 40 employees, 10 engineers)")= form_data.get('notes') || values.notes
  .research-company
    //- TODO: Make sure that either this mini form works
    //-   and is accessible
    //-   or figure out some way to get the HTML to work
    //-   We could integrate with the bigger form buuuut we need to make sure that "Ctrl+Enter" works =X
    //-   ... doesn't look like it...
    //-   We could design away the need for "Ctrl+Enter" by generating a loading image
    //-      when the user starts typing

    //- TODO: For now, prob go with:
    //-   JS binding for Ctrl+Enter
    //-   Make button a link to /research-company
    //-   When JS is bound though, make it a turbolink loader

    //- Worst case scenarios:
    //- - Absolute position form
    //- - Embedded iframe (best idea yet, is it accessible?)
    //-    It works buuut need to autosize content
    //- - Redesign flow so search is elsewhere (e.g. another page)
    h4.push-half--bottom(style="font-weight: normal")
      span.small-hidden Research company:
      span.medium-and-up-hidden
        = "Research company "
        span.text--normal
          = "("
          button.text--link expand section
          = ")"
    .form-group
      label(for="company_name") Company name:
      .flexbox
        .flexbox__item.company-name__container
          input.form-control.input--block#company_name(name="company_name", type="text", value=form_data.get('company_name') || values.company_name || locals.query_company_name, placeholder="Examples: Google, Acme Corp")
        .flexbox__item
          button.btn.btn--small.btn--wide.btn--default(type="button") Search
      //- TODO: Connect to search mechanism on click
      //- TODO: Alter button to link and link to standalone page
      //-   but allow JS to switch back to button for inline form
      //-   so we can save `company_name` as part of application
    h5.text--normal.flush--bottom Glassdoor results:
    p
      +glassdoor-result(locals.glassdoorResult, {expanded: false})
    h5.text--normal.flush--bottom AngelList results:
    p
      +angellist-result(locals.angelListResult, {expanded: false})

mixin glassdoor-result(glassdoorResult, options)
    if glassdoorResult
      | Name: #{glassdoorResult.name}
      br
      = "Website: "
      a(href=glassdoorResult.website)= glassdoorResult.website
      br
      = "Industry: "
      if !glassdoorResult.industry
        i Unknown
      else
        = glassdoorResult.industry
      br
      | Overall rating: #{glassdoorResult.overall_rating}
      br
      | CEO review: #{glassdoorResult.ceo_review}
      br
      if options.extended
        | Culture and values rating: #{glassdoorResult.culture_and_values_rating}
        br
        | Senior leadership rating: #{glassdoorResult.senior_leadership_rating}
        br
        | Compensation and benefits rating: #{glassdoorResult.compensation_and_benefits_rating}
        br
        | Career opportunities rating: #{glassdoorResult.career_opportunities_rating}
        br
        | Work/Life balance rating: #{glassdoorResult.work_life_balance_rating}
        br
      a(href=glassdoorResult.glassdoor_url) View Glassdoor profile
      br
      a(href="https://www.glassdoor.com/")
        = "Powered by "
        img(alt="Glassdoor", src="/dist/images/glassdoor-green.svg", style="height: 1.3em; position: relative; top: 4px")
      br
      a(target="_blank", href=glassdoorResult.badMatchUrl) Bad match? Click here to let us know
    else
      em No company name entered.
      br
      em Please enter one in the field above.

mixin angellist-result(angelListResult, options)
  if angelListResult
    | Name: #{angelListResult.name}
    br
    = "Website: "
    a(href=angelListResult.website)= angelListResult.website
    br
    | Followers: #{angelListResult.followers}
    br
    | Locations: #{angelListResult.locations}
    br
    | Markets: #{angelListResult.markets}
    br
    if options.extended
      = "Public fundraising: "
      if angelListResult.public_fundraising.length
        for fundraising_result in angelListResult.public_fundraising
          br
          span
            //- DEV: We want to use a `<ul>` but it breaks out of the `<p>` container
            | &nbsp;-&nbsp;
            = fundraising_result.name
            = ": "
            if fundraising_result.content
              = fundraising_result.content
            else
              i Details unknown
      else
        | N/A
      br
      = "Blog URL: "
      if angelListResult.blog_url
        a(href=angelListResult.blog_url)= angelListResult.blog_url
      else
        | N/A
      br
      = "Twitter URL: "
      if angelListResult.twitter_url
        a(href=angelListResult.twitter_url)= angelListResult.twitter_url
      else
        | N/A
      br
      = "Video URL: "
      if angelListResult.video_url
        a(href=angelListResult.video_url)= angelListResult.video_url
      else
        | N/A
      br
    a(href=angelListResult.angellist_url) View AngelList profile
    br
    a(href="https://angel.co/")
      = "Powered by AngelList"
      img(alt="AngelList logo", aria-hidden="true", src="/dist/images/angellist.svg", style="height: 1.3em; position: relative; top: 4px; left: 2px")
    br
    a(target="_blank", href=angelListResult.badMatchUrl) Bad match? Click here to let us know
  else
    em No company name entered.
    br
    em Please enter one in the field above.
