mixin posting-url(values)
  //- TODO: Link up `follow URL` to automatically update on throttled keydown
  .form-group
    label(for="posting_url")
      = "Posting URL: ("
      a(href=values.posting_url) follow URL
      = ")"
    input#posting_url.form-control.input--block(name="posting_url", type="text", value=values.posting_url, placeholder="https://job-board.com/url/of/listing")

mixin application-reminder(values)
  .form-group
    h4.flush--bottom(style="font-weight: normal")
      = "Application reminder: "
      span.text--normal
        i.fa.fa-reply(style="font-size: 1.5em")
    //- TODO: Only show info if someone has never saved a "Have not applied" application before
    .section--info.push-half--ends We will send you a reminder email to apply to this posting
    //- If there is no application reminder, then default to 1 week from today (raised to nearest hour)
    - var applicationReminderMoment = values.application_reminder || moment().tz(timezone).startOf('hour').add({weeks: 1, hours: 1});
    +reminderpicker("application_reminder", applicationReminderMoment)

mixin company-notes-and-research(values)
  .form-group
    label(for="notes") Notes:
    //- TODO: Add editor integration (wysiwyg.js, did it in a gist or codepen)
    //- DEV: We use `data-wysiwyg-input` as `wysiwyg.js` wants to use `data-wysiwyg` for itself
    textarea.form-control.input--block#notes(name="notes", data-wysiwyg-input, rows=3, placeholder="Notes about company (e.g. 40 employees, 10 engineers)")= values.notes
  .research-company
    //- TODO: Make sure that either this mini form works
    //-   and is accessible
    //-   or figure out some way to get the HTML to work
    //-   We could integrate with the bigger form buuuut we need to make sure that "Ctrl+Enter" works =X
    //-   ... doesn't look like it...
    //-   We could design away the need for "Ctrl+Enter" by generating a loading image
    //-      when the user starts typing

    //- TODO: For now, prob go with:
    //-   JS binding for Ctrl+Enter
    //-   Make button a link to /research-company
    //-   When JS is bound though, make it a turbolink loader

    //- Worst case scenarios:
    //- - Absolute position form
    //- - Embedded iframe (best idea yet, is it accessible?)
    //-    It works buuut need to autosize content
    //- - Redesign flow so search is elsewhere (e.g. another page)
    h4.push-half--bottom(style="font-weight: normal")
      span.small-hidden Research company:
      span.medium-and-up-hidden
        = "Research company "
        span.text--normal
          = "("
          button.text--link expand section
          = ")"
    .form-group
      label(for="company_name") Name:
      input.form-control.three-fifths#company_name(name="company_name", type="text", value=values.company_name, placeholder="Company name (e.g. Google)")
      //- TODO: Connect to search mechanism on click
      //- TODO: Alter button to link and link to standalone page
      //-   but allow JS to switch back to button for inline form
      //-   so we can save `company_name` as part of application
      button.btn.btn--small.btn--wide.btn--default.push--left(type="button") Search
    h5.text--normal.flush--bottom Glassdoor results:
    p
      if locals.glassdoorResult
        | Name: #{glassdoorResult.name}
        br
        = "Website: "
        a(href=glassdoorResult.website)= glassdoorResult.website
        br
        = "Industry: "
        if !glassdoorResult.industry
          i Unknown
        else
          = glassdoorResult.industry
        br
        | Overall rating: #{glassdoorResult.overall_rating}
        br
        | CEO review: #{glassdoorResult.ceo_review}
        br
        a(href=glassdoorResult.glassdoor_url) View Glassdoor profile
        br
        a(href="https://www.glassdoor.com/")
          = "Powered by "
          img(alt="Glassdoor", src="/dist/images/glassdoor-green.svg", style="height: 1.3em; position: relative; top: 4px")
        br
        a(target="_blank", href=glassdoorResult.badMatchUrl) Bad match? Click here to let us know
      else
        em No company name entered.
        br
        em Please enter one in the field above.
    h5.text--normal.flush--bottom AngelList results:
    p
      if locals.angelListResult
        | Name: #{angelListResult.name}
        br
        = "Website: "
        a(href=angelListResult.website)= angelListResult.website
        br
        | Followers: #{angelListResult.followers}
        br
        | Locations: #{angelListResult.locations}
        br
        | Markets: #{angelListResult.markets}
        br
        a(href=angelListResult.angellist_url) View AngelList profile
        br
        a(href="https://angel.co/")
          = "Powered by AngelList"
          img(alt="AngelList logo", aria-hidden="true", src="/dist/images/angellist.svg", style="height: 1.3em; position: relative; top: 4px; left: 2px")
        br
        a(target="_blank", href=angelListResult.badMatchUrl) Bad match? Click here to let us know
      else
        em No company name entered.
        br
        em Please enter one in the field above.
