extends layout

mixin sign-up-consent()
  div
    em
      small
        = "By signing up for Find Work, you hereby consent to our "
        a(href="/privacy") Privacy policy
        = " and "
        a(href="/terms") Terms of use
        = "."

block title
  - assert(action);
  - var Log_in = action === 'login' ? 'Log in' : 'Sign up';
  - var log_in = action === 'login' ? 'log in' : 'sign up';
  - var logging_in = action === 'login' ? 'logging in' : 'signing up';
  - var Sign_up = action === 'login' ? 'Sign up' : 'Log in';
  - var sign_up = action === 'login' ? 'sign up' : 'log in';
  title #{Log_in} - Find Work

block content
  h1.content__heading.push--bottom #{Log_in}
  if locals.auth_error
    p.section--error= auth_error
  else if locals.has_return_raw_body
    //- DEV: We intentionally use same order for sign up/log in
    p.section--info Sorry, you need to sign up/log in before we can save the job application. Don't worry, we'll save it when you're done.
  p
    //- DEV: We use same as current URL for validation errors
    - var authEmailRequestUrl = action === 'login' ? '/login/email/request' : '/sign-up/email/request';
    form.push--bottom(action=authEmailRequestUrl, method="POST")
      +csrf-input()
      .form-group.push-half--bottom
        label(for="email") Email:
        input.form-control.input--block(name="email", type="text", style="max-width: 220px")
      div
        +email-button().push-half--bottom(type="submit")
          | #{Log_in} with email
      +sign-up-consent()
    .push--bottom OR

    //- DEV: `id` is for testing purposes only
    +google-button()#auth_with_google.push-half--bottom(href="/oauth/google/request?action=" + encodeURIComponent(action))
      | #{Log_in} with Google
    +sign-up-consent()
  p.landmark
    if action === 'login'
      = "Don't have an account yet? "
      a(href="/sign-up") Click here to sign up
    else
      = "Already have an account? "
      a(href="/login") Click here to log in
  p
    = "Having issues " + logging_in + "? Contact us at "
    a(href="mailto:todd@findwork.co?subject=" + encodeURIComponent('Find Work support question')) todd@findwork.co
  p
    = "Want to " + log_in + " with a different service (e.g. Twitter)? Tell us at "
    a(href="mailto:todd@findwork.co?subject=" + encodeURIComponent(Log_in + ' service request')) todd@findwork.co
