doctype html
html
  head
    //- TODO: Make title dynamic per page
    title Find Work
    link(rel="stylesheet", href="/dist/css/index.css")

    //- TODO: Don't use all of FontAwesome (it's 71kb gzipped with 605 icons)
    link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css")

    //- TODO: Remove all inline styles

    //- If we are on a page with a `?grid` query parameter, then render a grid
    //- TODO: Relocate this into `server` JS
    script.
      (function () {
        // TODO: Move to query string (currently breaks serve)
        if (window.location.hash === '#grid') {
          // Define our overrides
          // https://github.com/peol/960gridder/blob/master/releases/1.3.1/960.gridder.src.js#L42-L61
          window.gOverride = {
            gColumns: 12,
            gWidth: 9,
            pHeight: 18
          };

          // Load our grid
          var scriptEl = document.createElement('script');
          var headEl = document.querySelector('head');
          scriptEl.src = 'https://rawgit.com/peol/960gridder/master/releases/1.3.1/960.gridder.src.js';
          headEl.appendChild(scriptEl);
        }
      }());
  body
    //- Declare our mock info
    //- DEV: Designed after https://app.moqups.com/todd@findwork.co/noWM1oiRBn/edit/page/a83fa0086
    - var user = {email: 'todd@findwork.co'};
    -
      // TODO: Be sure to sort by upcoming date
      // TODO: Warn ourselves if we see a date that was before today
      var upcomingInterviews = [{
        application: {
          id: 'abcdef-umbrella-corp',
          name: 'Senior Software Engineer at Umbrella Corporation',
          url: '/application/abcdef-umbrella-corp'
        },
        // Wed Jan 20 at 2:00PM CST
        datetime: new Date('2016-01-20T14:00-0600'),
        // TODO: Be sure to sanitize details
        // TODO: Style link colors
        details: 'Go to <a href="https://maps.google.com">1200 Lake St, Suite 303, Chicago</a>',
      }, {
        application: {
          id: 'abcdef-globo-gym',
          name: 'Globo Gym',
          url: '/application/abcdef-globo-gym'
        },
        // Mon Mar 14 at 2:00PM CST
        datetime: new Date('2016-03-14T14:00-0600'),
        // TODO: Consider renaming `details` to `instructions`
        details: ''
      }];
    -
      var waitingForResponseApplications = [{
        id: 'abcdef-sky-networks',
        add_interview_url: '/application/abcdef-sky-networks/add-interview',
        // Fri Jan 8
        application_date: new Date('2016-01-08T14:00-0600'),
        archive_url: '/application/abcdef-sky-networks/archive',
        company_name: 'Sky Networks',
        human_status: 'Waiting for response',
        // Tue Feb 23
        follow_up_reminder: new Date('2016-02-23T12:00-0600'),
        // Tue Feb 16
        last_contact: new Date('2016-02-16T12:00-0600'),
        past_interviews: [{
          id: 'abcdef-sky-networks-001',
          // Fri Jan 15 at 9:00AM PST
          datetime: new Date('2016-01-15T09:00-0700'),
          url: '/interview/abcdef-sky-networks-001'
        }],
        posting_url: 'https://github.com/about/jobs',
        name: 'Engineer II at Sky Networks',
        notes: '100 employees, all seem robotic',
        status: 'waiting_for_response',
        received_offer_url: '/application/abcdef-sky-networks/received-offer',
        url: '/application/abcdef-sky-networks'
      }];
    - var selectedApplication = waitingForResponseApplications[0];

    //- Declare common mixins
    mixin calendar-2x-with-date(date)
      //- Font stacking via: http://blog.fontawesome.io/2014/05/19/stacking-text-and-icons/
      span.fa-stack
        i.fa.fa-stack-2x.fa-calendar-o
        strong.fa-stack-1x(style="margin-top: 0.3em", aria-hidden="true")= date

    mixin nav-row(options)
      //- DEV: We use padded half ends to give padding for the selected border
      - var el = options.el || 'div';
      #{el}.nav-row.soft-half--ends(class={'nav-row--selected': options.selected})&attributes(attributes)
        block

    mixin nav-row--link(options)
      //- Override our element as a link
      //- DEV: We use `&attributes` and `block` to make a pass through
      - options.el = 'a';
      +nav-row(options).nav-link&attributes(attributes)
        block

    mixin nav-row--application(application)
      +nav-row({selected: application.id === selectedApplication.id})
        a.link--unstyled(href=application.url)
          //- TODO: Make this some heading for accessibility...
          div
            strong= application.name
          block

    //- Start our HTML
    .container
      .grid
        //- TODO: Find aria role (I think it's nav)
        .grid__item.one-quarter
          //- TODO: Use branded logo
          //- TODO: Add signed in state
          //- DEV: font-weight is to reset heading boldness
          //- DEV: Negative margins are to extend the boundary of our blue background to the gutter
          - var fourLines = 4 * 18;
          h1.section--brand-dark(style="text-align: center; font-weight: normal; margin-left: -9px; margin-right: -9px; line-height: #{fourLines}px") Find Work

          p.text--center
            a.btn.btn--wide.btn--default(href="/create-application")
              span(aria-hidden="true")= "+ "
              | Add job application

          //- Upcoming interviews section
          h3.flush--bottom(style="font-weight: normal") Upcoming interviews
          //- DEV: This is actually a 1.5x push due to extra padding for link border
          .push--bottom
            if upcomingInterviews.length
              each upcomingInterview in upcomingInterviews
                +nav-row--application(upcomingInterview.application)
                  //- TODO: Screenshot edge case: Overflowing lines stay with centered icon
                  //- TODO: In Chrome, alignment of icons seemed funky
                  //- TODO: When we have a link in our link, we get poor accessibility performance. Reconsider implementation.
                  .nav-info
                    .nav-info__icon
                      //- TODO: Use `moment` for formatting. We should prob save timezone in "Edit"
                      //- TODO: Make sure we use the same calendar between icon and content
                      +calendar-2x-with-date('20')
                    .nav-info__content
                      | Wed Jan 20 at 2:00PM CST
                  .nav-info
                    .nav-info__icon
                      i.fa.fa-2x.fa-info-circle
                    .nav-info__content
                      if upcomingInterview.details
                        != upcomingInterview.details
                      else
                        i Nothing provided
            else
              p TODO: Add placeholder text for upcoming interviews

          h3.flush--bottom(style="font-weight: normal") Waiting for response
          .landmark
            if waitingForResponseApplications.length
              each waitingForResponseApplication in waitingForResponseApplications
                +nav-row--application(waitingForResponseApplication)
                  .nav-info
                    .nav-info__icon
                      i.fa.fa-2x.fa-envelope-o
                    .nav-info__content
                      //- TODO: Use `moment` for formatting. We should prob save timezone in "Edit"
                      - var createdAtStr = "Tue Feb 16";
                      = "Last contact: " + createdAtStr
                  .nav-info
                    .nav-info__icon
                      i.fa.fa-2x.fa-reply
                    .nav-info__content
                      if waitingForResponseApplication.follow_up_reminder
                        - var followUpReminderStr = "Tue Feb 23";
                        = "Follow-up on: " + followUpReminderStr
                      else
                        i TODO: Add placeholder text for no reminder set
            else
              p TODO: Add placeholder text for upcoming interviews

          //- Nav links
          //- TODO: Make selection/highlight of `/archive` and `/settings` work
          //-   Prob compare against URLs, not application ids
          //- TODO: When we table on these rows, they feel weird with padding
          //-   I feel like we should pad the nav...
          +nav-row--link({selected: false})(href="/archive") Archived applications
          +nav-row--link({selected: false})(href="/settings") Settings

          //- Nav footer
          div.push--top.text--center.muted
            hr.push-half--bottom
            p.push-half--bottom
              = "Made with "
              span(aria-label="love")= "<3"
              = " by"
              br
              | Shoulders of Titans LLC
            p
              //- TODO: Create about, privacy, and terms pages
              //-  https://trello.com/c/BbhzXH5B/15-create-about-privacy-and-terms-pages
              a(href="/about") About
              a.push--sides(href="/privacy") Privacy
              a(href="/terms") Terms
              br
              a(href="/blog") Blog
              a.push--sides(href="http://twitter.com/findworkco") Twitter
              //- TODO: Verify this is the email we want to use
              a(href="mailto:todd@findwork.co?subject=Find%20Work%20support%20question") Support

        .grid__item.three-quarters
          include ./application-edit-show.jade
