extends layout
include interview-mixins

block title
  title Add interview - #{selectedApplication.name} - Find Work

block content
  //- Fallback submission data
  - var submissionData = {};

  //- DESIGN: On save, redirect back to “Job application” with a notification about “Upcoming interview added”
  h1.content__heading Add interview
  h2.content__subheading= selectedApplication.name
  p.medium-and-up-hidden
    a.btn.btn--default.btn--thin(href=selectedApplication.url) Cancel and return to job application
  if locals.validation_errors
    //- DEV: Id is for testing only
    #validation-errors.section--error.push--bottom
      | The following errors have occurred:
      ul.flush--bottom
        for error in validation_errors
          li= error.message
  form.cf(method="POST", action=selectedApplication.add_interview_url, data-unsaved-changes)
    +csrf-input()
    .grid
      .grid__item.one-whole.medium-one-half.large-four-ninths
        +interview-fields(submissionData)
        div
          button.btn.btn--primary(type="submit") Save interview
      .grid__item.one-whole.medium-one-half.large-five-ninths
        div.small-hidden
          a.btn.btn--default.one-whole(href=selectedApplication.url) Cancel and return to job application
