extends layout
include interview-mixins

block title
  //- Resolve selected application
  //- DEV: This must be done in a block, otherwise it's inaccessible
  - var selectedApplication = selectedInterview.application;
  - assert(selectedApplication);
  title Interview - #{selectedApplication.name} - Find Work

block content
  h1.content__heading Interview
  h2.content__subheading= selectedApplication.name
  p.medium-and-up-hidden
    a.btn.btn--default.btn--thin(href=selectedApplication.url) Back to application
  if locals.validation_errors
    //- DEV: Id is for testing only
    #validation-errors.section--error.push--bottom
      | The following errors have occurred:
      ul.flush--bottom
        for error in validation_errors
          li= error.message
  .grid
    .grid__item.one-whole.medium-one-half.large-four-ninths
      form(method="POST", action=selectedInterview.url, data-unsaved-changes)
        +csrf-input()
        +interview-fields(selectedInterview)
        .landmark
          button.btn.btn--primary(type="submit") Save changes
      form(method="POST", action=selectedInterview.delete_url)
        +csrf-input()
        //- DEV: We can resolve nested form issue by moving to a modal
        //-   Currently, we resolved it via floats
        //- TODO: Add test that verifies form doesn't submit on confirm rejection
        button.btn.btn--danger(type="submit", onclick="javascript:return confirm('Are you sure you want to delete this interview for #{selectedApplication.name}?')") Delete
    .grid__item.one-whole.medium-one-half.large-five-ninths
      div.small-hidden
        a.btn.btn--default.one-whole(href=selectedApplication.url) Back to job application
