extends layout
include interview-mixins

block title
  title Interview - #{selectedApplication.name} - Find Work

block content
  h1.content__heading(style="font-weight: normal") Interview
  h2.content__subheading(style="font-weight: normal")
    = selectedApplication.name
  p.medium-and-up-hidden
    a.btn.btn--default.btn--thin(href=selectedApplication.url) Back to application
    = " "
    //- TODO: If we ever introduce a better menu which has schedule in it, then ditch this button
    a.btn.btn--default.btn--thin(href="/schedule") Return to schedule
  p.large-hidden.push-half--bottom
    //- DEV: On small/medium screens, display "All changes saved" close to content
    i.muted(data-autosave) All changes saved
  .grid
    .grid__item.one-whole.medium-one-half.large-four-ninths
      form(method="POST", action=selectedInterview.url)
        +csrf-input()
        +interview-fields(selectedInterview, {showInfo: false})
        p.large-hidden
          //- DEV: On small/medium screens, display "All changes saved" close to content
          i.muted(data-autosave) All changes saved
        .landmark
          button.btn.btn--primary(type="submit") Save changes
      form(method="POST", action=selectedInterview.delete_url)
        +csrf-input()
        //- DEV: We can resolve nested form issue by moving to a modal
        //-   Currently, we resolved it via floats
        //- TODO: Add test that verifies form doesn't submit on confirm rejection
        button.btn.btn--danger(type="submit", onclick="javascript:return confirm('Are you sure you want to delete this interview for #{selectedApplication.name}?')") Delete
    .grid__item.one-whole.medium-one-half.large-five-ninths
      //- DEV: We use 1.5x line height to match our calendar icon
      .medium-and-down-hidden.text--right(style="line-height: 1.5em")
        //- DEV: On large screens, display "All changes saved" on right side of content
        i.muted(data-autosave) All changes saved
      div.small-hidden
        a.btn.btn--default.one-whole(href=selectedApplication.url) Back to job application
