extends layout-base

block title
  title Find Work - Be the best candidate for the job

block base-content
  header.section--brand-dark.text--center.cf
    - var callToActionStr = "Get started. It's free!";
    .container
      .grid
        .grid__item.one-quarter.small-hidden &nbsp;
        .grid__item.two-quarters.small-one-whole
          a.link--unstyled(href="/")
            h1.soft-half--ends.flush--bottom
              img.landing__logo(alt="Find Work", src="/dist/images/white-logo.svg")
          h2 Be the best candidate for the job
          p
            a.btn.btn--hero.btn--brand-dark(href="/schedule")= callToActionStr
        .grid__item.one-quarter.small-hidden
          .float--right
            a.btn.btn--default.push-half--top(href="/sign-up") Sign up
            a.btn.btn--default.push-half--left.push-half--top(href="/login") Log In
      .medium-and-up-hidden
        .grid
          .grid__item.one-whole
            p
              a(href="/login", style="color: white") Already have an account? Log in here
  section.soft--ends
    .grid__item.one-quarter.medium-one-quarter.small-hidden &nbsp;
    .grid__item.one-half.medium-one-half.small-one-whole
      .text--center
        p.section.section--info
          | Find Work is shutting down! The website will be offline as of December 20, 2019 at 5PM PST
          br
          = "For further questions or exporting any data, please contact "
          a.link--inherit-color(href="mailto:todd@findwork.co") todd@findwork.co
        h2 How it works
        p We'll help you find work and stand out by assisting with the little things.
    .grid
      .grid__item.one-whole
        .screenshots
          //- DESIGN: When our UI is fully built, explore doing magnified screenshots https://trello.com/c/dZ9ddi6l/39-add-magnification-in-screenshots-like-a-circle-zoom-for-each-bullet-on-landing-page
          .medium-and-down-hidden
            p
              +retina-img("/dist/images/screenshots/large@1x.svg",
                "/dist/images/screenshots/large@2x.svg")(
                alt="Annotated application screenshot", style="margin: 0 auto; display: block;")
          .large-hidden.small-hidden
            .text--center
              p
                +retina-img("/dist/images/screenshots/medium@1x.svg",
                  "/dist/images/screenshots/medium@2x.svg")(
                  alt="Annotated application screenshot")
          .medium-and-up-hidden
            .text--right
              p
                +retina-img("/dist/images/screenshots/small@1x.svg",
                  "/dist/images/screenshots/small@2x.svg")(
                  alt="Annotated application screenshot")
          .screenshot-highlight--recent__container
            .screenshot-highlight--recent Recently viewed applications at a glance
          .screenshot-highlight--reminders__container
            .screenshot-highlight--reminders Reminders for every stage (e.g. follow-up, pre-interview)
          .screenshot-highlight--notes__container
            .screenshot-highlight--notes Record and review company and interview notes
          .screenshot-highlight--research__container
            .screenshot-highlight--research
              = "Research companies via "
              a(href="https://www.glassdoor.com/", target="_blank") Glassdoor
              = ", "
              a(href="https://www.linkedin.com/", target="_blank") LinkedIn
              = ", "
              a(href="https://www.crunchbase.com/", target="_blank") Crunchbase
              = ", and more"
        p.text--center.flush--bottom
          a.btn.btn--hero.btn--brand-dark(href="/schedule")= callToActionStr
  section.section--brand-dark.soft--ends
    .container
      .grid
        .grid__item.one-whole
          h3.workflow-heading.text--center Workflow
      .grid
        .grid__item.one-quarter.medium-one-sixth.small-hidden &nbsp;
        .grid__item.one-half.medium-two-thirds.small-one-whole
          p We believe there are 4 stages of a job application:
      .grid
        .grid__item.one-quarter.medium-one-sixth.small-hidden.text--right
          img(alt="Finding a job listing illustration", src="/dist/images/magnifying-glass-white.svg", style="height: 3em")
        .grid__item.one-half.medium-two-thirds.small-one-whole
          p
            strong 1. Finding a job listing
            br
            | Whether through a job board or word of mouth, you have found a listing. You can save it in our system and get a reminder to apply later.
      .grid
        .grid__item.one-quarter.medium-one-sixth.small-hidden.text--right
          img(alt="Waiting for a response illustration", src="/dist/images/clock-white.svg", style="height: 3em")
        .grid__item.one-half.medium-two-thirds.small-one-whole
          p
            strong 2. Waiting for a response
            br
            | You have submitted your application. We'll send you a reminder to follow up to make sure you don't fall through the cracks.
      .grid
        .grid__item.one-quarter.medium-one-sixth.small-hidden.text--right
          img(alt="Interviewing illustration", src="/dist/images/conversation-white.svg", style="height: 3em")
        .grid__item.one-half.medium-two-thirds.small-one-whole
          p
            strong 3. Interviewing
            br
            | You have gotten your foot in the door. We'll help you ace that interview with company research tools (demonstrating interest) and pre/post interview reminders to help take/review diligent notes.
            br
            em We repeat steps 2 and 3 until we get to step 4.
      .grid
        .grid__item.one-quarter.medium-one-sixth.small-hidden.text--right
          img(alt="Receiving an offer illustration", src="/dist/images/salary-white.svg", style="height: 3em")
        .grid__item.one-half.medium-two-thirds.small-one-whole
          p
            strong 4. Receiving an offer
            br
            | Congratulations! You got a job offer! We'll help make sure you got good terms with our company research tools and remind you to reply (in case you are having a busy week).
      .grid
        .grid__item.one-whole
          p.push--top.landmark.text--center
            a.btn.btn--hero.btn--brand-dark(href="/schedule")= callToActionStr
      .grid
        .grid__item.one-whole
          h3.logos-heading.text--center Built by former employees of
      .grid
        .grid__item.one-whole
          .logos.text--center
            .logos__behance
              a(href="https://www.behance.net/", target="_blank")
                img(alt="Behance", src="/dist/images/behance-white.svg")
            .logos__uber
              a(href="https://www.uber.com/", target="_blank")
                img(alt="Uber", src="/dist/images/uber-white.svg")
            .logos__underdogio
              a(href="https://underdog.io/", target="_blank")
                img(alt="Underdog.io", src="/dist/images/underdogio-green.svg")
  section.soft--top
    .grid
      .grid__item.one-whole
        h3.text--center.flush--bottom
          a(href="https://medium.com/findworkco/how-i-find-work-ea78b6fceeac")
            | Still not convinced? Check out this blog post of our founder using Find Work
        .text--center
          small Don't worry, he still works here
  .container
    .grid
      .grid__item.one-whole
        +footer()
