mixin application-info-last-contact-text(application)
  //- Tue Feb 16
  if application.closest_past_interview
    = "Last interview: " + application.closest_past_interview.date_time_moment.format('ddd MMM D')
  else
    = "Applied on: " + application.application_date_moment.tz(timezone).format('ddd MMM D')

mixin application-info-reminder-text(reminder)
  if reminder.sent_at_datetime
    i Reminder sent
  else if reminder.is_enabled
    //- Tue Feb 23
    = reminder.date_time_moment.format('ddd MMM D')
  else
    i Reminder disabled

mixin application-info(mixin, application)
  //- DEV: Ideally we would have separate `nav-info` and `schedule-info` mixins for flexibility without sacrificing legibility
  //-   However during prototyping it helps that they are shared
  - var status = application.status;
  if status == APPLICATION_STATUSES.RECEIVED_OFFER
    +#{mixin}({icon: 'fa-envelope-o'})
      +application-info-last-contact-text(application)
    +#{mixin}({icon: 'fa-reply'})
      = "Respond by: "
      +application-info-reminder-text(application.received_offer_reminder)
  else if status == APPLICATION_STATUSES.UPCOMING_INTERVIEW
    - var closestInterview = application.closest_upcoming_interview;
    +#{mixin}({icon: 'fa-calendar-o', iconContent: closestInterview.date_time_moment.format('D')})
      //- Mon Mar 14 at 2:00PM CST
      a(href=closestInterview.url)
        = closestInterview.date_time_moment.format('ddd MMM D [at] h:mmA zz')
    +#{mixin}({icon: 'fa-info-circle'})
      if closestInterview.details
        = closestInterview.details
      else
        i No details provided
  else if status == APPLICATION_STATUSES.WAITING_FOR_RESPONSE
    +#{mixin}({icon: 'fa-envelope-o'})
      +application-info-last-contact-text(application)
    +#{mixin}({icon: 'fa-reply'})
      = "Follow-up on: "
      +application-info-reminder-text(application.waiting_for_response_reminder)
  else if status == APPLICATION_STATUSES.SAVED_FOR_LATER
    - var createdAtMoment = moment(application.created_at).tz(timezone);
    +#{mixin}({icon: 'fa-calendar-o', iconContent: createdAtMoment.format('D')})
      //- Tue Feb 16
      = "Saved on: " + createdAtMoment.format('ddd MMM D')
    +#{mixin}({icon: 'fa-reply'})
      = "Apply by: "
      +application-info-reminder-text(application.saved_for_later_reminder)
  else if status == APPLICATION_STATUSES.ARCHIVED
    - var archivedAtMoment = application.archived_at_moment.tz(timezone);
    +#{mixin}({icon: 'fa-calendar-o', iconContent: archivedAtMoment.format('D')})
      //- Archived on: Mon Mar 14
      = "Archived on: " + archivedAtMoment.format('ddd MMM D')
  else
    - throw new Error('Unrecognized application status')
