//- DEV: Designed after
//-   Large: https://app.moqups.com/todd@findwork.co/noWM1oiRBn/edit/page/aa09fc46a
//-   Medium: https://app.moqups.com/todd@findwork.co/noWM1oiRBn/edit/page/a998d45b2
//-   Small: https://app.moqups.com/todd@findwork.co/noWM1oiRBn/edit/page/af53ee2d9
extends layout-base

block base-content
  mixin nav-row(options)
    - var el = options.el || 'div';
    #{el}.nav-row(class={'nav-row--selected': options.selected})&attributes(attributes)
      block

  mixin nav-row--link(options)
    //- Override our element as a link
    //- DEV: We use `&attributes` and `block` to make a pass through
    - options.el = 'a';
    +nav-row(options).nav-link&attributes(attributes)
      block

  mixin nav-info(params)
    .nav-info
      .nav-info__icon
        i.fa(class=params.icon)
      .nav-info__content
        block

  mixin nav-row--application(application)
    - var status = application.status;
    +nav-row({selected: (locals.selectedApplication && locals.selectedApplication.id === application.id)}).nav-row--application.push--bottom
      div
        a(href=application.url)= application.name
      div Status: #{application.human_status}
      //- TODO: Screenshot edge case: Overflowing lines stay with centered icon
      if status == APPLICATION_STATUSES.UPCOMING_INTERVIEW
        - var closestInterview = application.closest_upcoming_interview;
        +nav-info({icon: 'fa-calendar-o'})
          //- Mon Mar 14 at 2:00PM CST
          a(href=closestInterview.url)
            = closestInterview.date_time_moment.format('ddd MMM D [at] h:mmA zz')
        +nav-info({icon: 'fa-info-circle'})
          //- TODO: Sanitize and linkify details (e.g. map)
          if closestInterview.details
            = closestInterview.details
          else
            i Nothing provided
      else if status == APPLICATION_STATUSES.WAITING_FOR_RESPONSE
        +nav-info({icon: 'fa-envelope-o'})
          //- Tue Feb 16
          = "Last contact: " + application.last_contact_moment.format('ddd MMM D')
        +nav-info({icon: 'fa-reply'})
          if application.follow_up_reminder_moment
            //- Tue Feb 23
            = "Follow-up on: " + application.follow_up_reminder_moment.format('ddd MMM D')
          else
            i TODO: Add placeholder text for no reminder set
      else if status == APPLICATION_STATUSES.ARCHIVED
        +nav-info({icon: 'fa-calendar-o'})
          //- Archived on: Mon Mar 14
          = "Archived on: "
          = application.archived_at_moment.format('ddd MMM D')
      else
        - throw new Error('Unrecognized application status')

  //- Top bar
  //- DEV: We could consolidate this with the landing page nav
  //-   but they are just different enough that it's not worth it
  //- DEV: We use `.container(style="position: relative")` to prevent buttons for moving out of container on large screens
  //- DEV: Top bar id is for testing only
  header#topbar.section--brand-dark.cf.push--bottom
    .container(style="position: relative")
      //- DEV: We use `width: auto` to prevent blocking clicks to logo due to overexpansion
      - var logoPadding = '5px';
      .large-hidden(style="position: absolute; left: 0; width: auto")
        //- DEV: Half width padding doubles as alignment with grid as well as increasing hit area for button
        button.text--link.link--inherit-color.soft-half(aria-label="Open menu", data-toggle="menu", style="line-height: 25px") Menu
      .layout-top-btn__container__container
        .layout-top-btn__container
          if !locals.candidate
            .float--right
              //- DEV: We hide "Sign up" on small screens due to sheer size (it would wrap)
              //- DEV: We use negative margin to offset initial gutter padding
              //-   We have initial gutter padding for logged in buttons
              a.link--inherit-color.layout-top-link.layout-top-link--hideable(href="/sign-up", style="padding: #{logoPadding} 9px;") Sign up
              a.link--inherit-color.layout-top-link(href="/login", style="display: inline-block; margin-right: -9px; padding: #{logoPadding} 9px;") Log In
          else
            //- DEV: We use tables for setup as it allows for link to group image and text
            //-   If that weren't the case, we could use a setup like Trello's
            a(href="/settings", style="margin-top: #{logoPadding}").link--inherit-color.layout-top-avatar-btn
              .layout-top-avatar-btn__avatar
                +avatar-img(candidate.email, 29).img
              .layout-top-avatar-btn__text
                //- DEV: Use `soft-half--sides` to pad link and negative margin to recover lost space
                //- DEV: `float` breaks content out of flow so it can observe `line-height`
                //- DEV: `text-decoration` is due to `float` and `inline-block` erasing underline
                //- DEV: We wanted to use email address but ran into `max-width` issues and then ran out of time
                //-   If you move to email, add long email visual tests
                .layout-top-link.layout-top-link--hideable.soft-half--sides(style="float: right; margin-right: -9px; text-decoration: underline") Settings
      .text--center
        a.link--unstyled(href="/schedule")
          //- DEV: We use custom padding to not take up too much vertical space
          //- DEV: We use `inline-block` to prevent making entire nav link to schedule
          div(style="display: inline-block; padding: #{logoPadding};")
            img.layout__logo(alt="Find Work", src="/dist/images/white-logo.svg")

  //- Navigation menu and content
  .layout__menu__overlay(data-toggle="menu") &nbsp;
  .container
    .grid
      nav#nav.grid__item.layout__menu(aria-role="navigation")
        .large-hidden.soft--top
          .float--right
            //- DEV: Padding is to increase hit location for button
            //- DEV: Negative right margin is to offset padding
            //- DEV: Negative top margin is to move text to same height as h4 due to being lowercase
            button.btn--unstyled.btn--focusable.delta(aria-label="Close menu", data-toggle="menu", style="font-size: 2em; line-height: 1em; margin-top: -0.35em; padding: 0 9px; display: block") &times;
          h4.push-half--bottom(style="font-weight: normal")
            | Menu

        //- Signed in status
        p.nav-row
          if locals.candidate
            a.link--unstyled.muted(href="/settings")
              | Signed in: #{candidate.email}
          else
            a(href="/sign-up") Sign up
            = " / "
            a(href="/login") Log in

        //- Page links
        //- DEV: Push "Recent applications" by 1.5 base units as 1x feels too little and 2x feels too much
        div(style="margin-bottom:27px")
          p
            +nav-row--link({selected: false})(href="/schedule") Schedule
          .push--left
            p
              +nav-row--link({selected: false})(href="/add-application")
                span(aria-hidden="true")= "+ "
                | Add job application
            p
              +nav-row--link({selected: false})(href="/research-company")
                | Research company
          p
            +nav-row--link({selected: false})(href="/archive") Archived applications
          p
            +nav-row--link({selected: false})(href="/settings") Settings

        //- Recent applications
        //- DEV: We check `locals.recentlyViewedApplications` as we could have a 500 with no data
        //- DESIGN: We list recent applications to show relevant glancable data to the user
        //-   Schedule is too bulky up front and this does the trick well
        if locals.recentlyViewedApplications
          .push-double--bottom
            p.flush--bottom
              strong Recent applications
            //- DESIGN: We initially had recent active and archived applications separately stored but we prob don't want that. We should use the same list
            if recentlyViewedApplications.length
              for recentlyViewedApplication in recentlyViewedApplications
                +nav-row--application(recentlyViewedApplication)
            else
              p
                i No applications have been recently viewed.

        //- Logout link
        //- DEV: We explored showing a muted link on logged out but with a muted footer, we get 2 meanings for muted links
        if locals.candidate
          p
            +logout-form()
      #content.grid__item.layout__content
        block content

  //- Footer
  .container
    .grid
      .grid__item.one-whole
        +footer()
