//- Declare common mixins
mixin calendar-2x-with-date(date)
  //- Font stacking via: http://blog.fontawesome.io/2014/05/19/stacking-text-and-icons/
  span.fa-stack
    i.fa.fa-stack-2x.fa-calendar-o
    strong.fa-stack-1x(style="margin-top: 0.3em", aria-hidden="true")= date

mixin datepicker(moment)
  //- DEV: We use 2020 as our cap since that's where moment stops
  //- DEV: We use `min/max` to fix slowness bug
  //-   http://stackoverflow.com/a/30325783
  input(type="date", value=moment.format(datepickerFormat), min="2010-01-01", max="2020-12-31")&attributes(attributes)

mixin timepicker(moment)
  //- DEV: Native uses HH:MM (e.g. 23:10) so we must use that
  //-   https://www.w3.org/TR/html-markup/input.time.html#input.time.attrs.value
  input(type="time", value=moment.format(timepickerFormat))&attributes(attributes)

mixin timezonepicker(moment)
  //- TODO: When we save this to the server, verify we have the codes in `vendor`
  //-   When saving in the db, preserve as an object for easy queries
  //- TODO: Find best match based on IP as a fallback
  //-   Then, fallback to US Pacific TIme
  //- DEV: We were initially going to use a modal similar to Google Calendar
  //-   However, we realized that (1) the terms are different than CST/CDT abbreviations and (2) modals are a complex interaction
  //- TODO: Sort countries by their name, not code; UAE should be next to USA
  //-   Maybe create a new data structure `[{name: United States, code: US, timezones: [{locale: America/Chicago, abbrs: []}]`
  - var selectedTimezone = moment.tz();
  select(data-chosen)&attributes(attributes)
    //- {US: {America/Chicago: 'Central Standard Time'}}; timezones = {America/Chicago}, countryCode = US
    each timezones, countryCode in timezonesByCountryCode
      //- United States
      - var countryName = countryData.countries[countryCode].name;
      optgroup(label=countryName)
        //- timezoneName = Central Standard Time, timezoneLocale = America/Chicago
        //- TODO: Compute pre-emptively
        - var timezoneLocales = Object.keys(timezones);
        - timezoneLocales.sort(function (a, b) { return timezoneAbbrs[a].join('/') > timezoneAbbrs[b].join('/') });
        each timezoneLocale in timezoneLocales
          - var abbrs = timezoneAbbrs[timezoneLocale].join('/');
          option(selected=selectedTimezone == timezoneLocale, value=countryCode + '-' + timezoneLocale)= abbrs

mixin datetimepicker(name, moment, options)
  - options = options || {};
  - var delimiter = options.delimiter !== undefined ? options.delimiter : '_';
  div
    +datepicker(moment).form-control(name="#{name}#{delimiter}date")&attributes(attributes)
    = " "
    +timepicker(moment).form-control(name="#{name}#{delimiter}time")
  div
    +timezonepicker(moment).form-control(name="#{name}#{delimiter}timezone")

mixin reminderpicker(name, moment)
  - var hasReminder = !!moment;
  div(style="display: table")
    div(style="display: table-cell; vertical-align: middle")
      input(name="#{name}_enabled", type="radio", checked=hasReminder, value="yes")
      | &nbsp;
    div(style="display: table-cell; vertical-align: middle; padding: 3px")
      +datetimepicker(name, moment)(id=name)
  div(style="display: table")
    div(style="display: table-cell; vertical-align: middle")
      input(name="#{name}_enabled", type="radio", checked=!hasReminder, value="no")
      | &nbsp;
    div(style="display: table-cell; vertical-align: middle; padding: 3px")
      = "No reminder"
