mixin schedule-row()
  .schedule-row&attributes(attributes)
    block

mixin schedule-info(params)
  .schedule-info
    .schedule-info__icon
      if params.iconContent
        //- Font stacking via: http://blog.fontawesome.io/2014/05/19/stacking-text-and-icons/
        span.fa-stack
          i.fa.fa-stack-2x(class=params.icon)
          strong.fa-stack-1x(style="margin-top: 0.3em", aria-hidden="true")= params.iconContent
      else
        i.fa.fa-2x(class=params.icon)
    .schedule-info__content
      block

mixin schedule-row--application(application)
  - var status = application.status;
  +schedule-row().schedule-row--application
    h4(style="font-weight: normal; margin-bottom: 4px")
      a(href=application.url)= application.name
    .grid
      .grid__item.one-half.small-one-whole
        //- TODO: Screenshot edge case: Overflowing lines stay with centered icon
        if status == APPLICATION_STATUSES.UPCOMING_INTERVIEW
          - var closestInterview = application.closest_upcoming_interview;
          +schedule-info({icon: 'fa-calendar-o', iconContent: closestInterview.date_time_moment.format('D')})
            //- Mon Mar 14 at 2:00PM CST
            a(href=closestInterview.url)
              = closestInterview.date_time_moment.format('ddd MMM D [at] h:mmA zz')
          +schedule-info({icon: 'fa-info-circle'})
            //- TODO: Sanitize and linkify details (e.g. map)
            if closestInterview.details
              = closestInterview.details
            else
              i Nothing provided
        else if status == APPLICATION_STATUSES.WAITING_FOR_RESPONSE
          +schedule-info({icon: 'fa-envelope-o'})
            //- Tue Feb 16
            = "Last contact: " + application.last_contact_moment.format('ddd MMM D')
          +schedule-info({icon: 'fa-reply'})
            if application.follow_up_reminder_moment
              //- Tue Feb 23
              = "Follow-up on: " + application.follow_up_reminder_moment.format('ddd MMM D')
            else
              i TODO: Add placeholder text for no reminder set
        else if status == APPLICATION_STATUSES.ARCHIVED
          +schedule-info({icon: 'fa-calendar-o'})
            //- Archived on: Mon Mar 14
            = "Archived on: "
            = application.archived_at_moment.format('ddd MMM D')
        else
          - throw new Error('Unrecognized application status')
      //- DEV: `.push-half--bottom` is for spacing with buttons on small screens
      .grid__item.one-half.small-one-whole.schedule-notes__container.push-half--bottom
        //- DESIGN: Make sure links are clickable in textarea
        div Notes:
        div.schedule-notes
          if application.notes
            != sanitizeHtml(application.notes)
          else
            i No notes recorded
    div
      .grid
        if status == APPLICATION_STATUSES.UPCOMING_INTERVIEW
          //- DEV: `.push-half--bottom` is to provide spacing between buttons on wrap
          //- DEV: `.push--bottom` is to space out next element
          - var closestInterview = application.closest_upcoming_interview;
          .grid__item.push-half--bottom
            a.btn.btn--default(href=application.url) View job application
          .grid__item.push--bottom
            a.btn.btn--default(href=closestInterview.url) View interview
        else if status == APPLICATION_STATUSES.WAITING_FOR_RESPONSE
          .grid__item.push-half--bottom
            a.btn.btn--default(href=application.url) View job application
          .grid__item.push--bottom
            a.btn.btn--default(href=application.add_interview_url) Add interview
        else if status == APPLICATION_STATUSES.ARCHIVED
          .grid__item.push--bottom
            a.btn.btn--default(href=application.url) View job application
        else
          - throw new Error('Unrecognized application status')
