//- DESIGN: https://app.moqups.com/todd@findwork.co/noWM1oiRBn/edit/page/aef700c53
include mixins
subject Post-interview reminder for "#{application.name}"
html
  | Hi #{email},
  br
  | We hope your interview went well =) This is your post-interview reminder for "#{application.name}" to record any notes from the interview.
  br
  br
  b
    a(href=application.external_url) Click here to update your application notes
  br
  br
  +email-posting-url(application)
  br
  +email-application-link(application)
  br
  +email-interview-link(interview)
  br
  br
  if application.status === APPLICATION_STATUSES.WAITING_FOR_RESPONSE
    | We have scheduled a follow-up reminder for you in 7 days. It will remind you to check in to prevent falling between the cracks.
    br
    br
    b
      = "Follow-up reminder ("
      a(href=application.external_url) edit reminder
      = "): "
    //- Mon Mar 14 at 2:00PM CST
    = application.waiting_for_response_reminder.date_time_moment.format('ddd MMM D [at] h:mmA zz')
  else if application.status === APPLICATION_STATUSES.UPCOMING_INTERVIEW
    | Additionally, there are upcoming interviews scheduled on:
    br
    br
    for upcomingInterview, i in application.upcoming_interviews
      //- Mon Mar 14 at 2:00PM CST
      a(href=upcomingInterview.external_url)= upcomingInterview.date_time_moment.format('ddd MMM D [at] h:mmA zz')
      if i != application.upcoming_interviews.length - 1
        br
  else if application.status === APPLICATION_STATUSES.RECEIVED_OFFER
    | Additionally, there is a response reminder scheduled at:
    br
    br
    b
      = "Response reminder ("
      a(href=application.external_url) edit reminder
      = "): "
    //- Mon Mar 14 at 2:00PM CST
    = application.received_offer_reminder.date_time_moment.format('ddd MMM D [at] h:mmA zz')
  else
    - throw new Error('Unexpected application status');
  br
  br
  | - The Find Work team
